/*Mostly layout*/
#homediv{

    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#aboutme, #timeline {
    width: 50%;
}
#prof-photo{
    border-radius:50%;
    width:40%;
}
ul{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    list-style-type:none;

}
#gallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}
.img-card{
    width:25%;
}
.img-card img {
    width: 100%;
}
#contact-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
header h1 a{
    text-decoration:none;
}

header h1:hover{
    color:blue;
}
/*Styling*/
header{
    background-color:#526633;
    border-radius: 10px;
    color:aliceblue;
}
body{
    background-color:#83a058;
}